# DSB3
checkpoints/*
dsb3/params.py

# always-ignore extensions
*~

# Python / Byte-compiled / optimized / DLL 
__pycache__/
*.py[cod]

# OS or Editor files and folders
.DS_Store
Thumbs.db
.ipynb_checkpoints/
.directory
/.idea/

# always-ignore directories
/dist/
/build/